# BASE_URL="https://mycustomdomain.com"
BETTER_AUTH_SECRET="random-string-of-characters"
CRYPTO_KEY="random-string-of-characters"
GITHUB_APP_ID="your-github-app-id"
GITHUB_APP_NAME="your-github-app-machine-name"
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
xxx
-----END RSA PRIVATE KEY-----"
GITHUB_APP_WEBHOOK_SECRET="another-random-string-of-characters"
GITHUB_APP_CLIENT_ID="your-github-app-client-id"
GITHUB_APP_CLIENT_SECRET="your-github-app-client-secret"
# EMAIL_PROVIDER="resend" # or "smtp"
EMAIL_FROM="Pages CMS <no-reply@mail.pagescms.org>"
# Resend config
# RESEND_API_KEY="your-resend-api-key"
# RESEND_FROM_EMAIL="Pages CMS <no-reply@mail.pagescms.org>" # backwards-compatible alias for EMAIL_FROM
# SMTP config
# SMTP_HOST="smtp.example.com"
# SMTP_PORT="587"
# SMTP_SECURE="false"
# SMTP_USER="smtp-user"
# SMTP_PASSWORD="smtp-password"
DATABASE_URL="postgresql://pagescms:pagescms@localhost:5432/pagescms"
# CACHE_RECONCILE_INTERVAL_MIN=5
# FILE_CACHE_TTL=1440
# PERMISSION_CACHE_TTL=60
CRON_SECRET="a-random-string-of-characters"
