/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap'); */

/* Codemirror */

.cm-editor {
  @apply !inline-block !w-full border bg-neutral-150 border-neutral-150 dark:bg-neutral-800 dark:border-neutral-800 py-2 px-3 rounded-xl transition-all;
}

.cm-editor.cm-focused {
  @apply outline-none ring-1 border-neutral-950 ring-neutral-950 dark:border-white dark:ring-white;
}

.cm-editor .cm-content {
  @apply caret-neutral-950 dark:caret-white font-mono font-normal text-sm min-h-[368px];
}

/* .cm-editor .cm-cursor,
.cm-editor .cm-dropCursor {} */

/* .cm-editor .cm-activeLine {} */

/* .cm-editor .cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.cm-editor .cm-selectionBackground,
.cm-editor .cm-content ::selection {} */

/* .cm-editor .cmt-atom {} */

.cm-editor .cmt-comment {
  @apply text-neutral-500 dark:text-neutral-400;
}

.cm-editor .cmt-atom,
.cm-editor .cmt-keyword,
.cm-editor .cmt-tagName,
.cm-editor .cmt-className,
.cm-editor .cmt-name {
  @apply text-purple-800 dark:text-purple-200;
}

/* .cm-editor .cmt-propertyName,
.cm-editor .cmt-variableName {} */

/* .cm-editor .cmt-propertyName,
.cm-editor .cmt-variableName {} */

/* .cm-editor .cmt-typeName,
.cm-editor .cmt-attributeName {} */

.cm-editor .cmt-meta,
.cm-editor .cmt-operator,
.cm-editor .cmt-separator,
.cm-editor .cmt-bracket {
  @apply text-neutral-400 dark:text-neutral-500;
}

.cm-editor .cmt-number,
.cm-editor .cmt-bool,
.cm-editor .cmt-regexp,
.cm-editor .cmt-link.cmt-literal,
.cm-lang-yaml .cm-editor .cmt-keyword {
  @apply text-orange-800 dark:text-orange-200;
}

.cm-editor .cmt-string {
  @apply text-sky-800 dark:text-sky-200;
}

.cm-lang-yaml .cm-editor .cmt-string {
  @apply text-inherit;
}

.cm-editor .cmt-quote,
.cm-editor .cmt-emphasis {
  @apply italic;
}

.cm-editor .cmt-heading,
.cm-editor .cmt-strong {
  @apply font-semibold;
}

/* .cm-editor .cmt-link,
.cm-editor .cmt-literal {} */

/* .cm-editor .cmt-link.cmt-literal {
  @apply underline;
} */

/* .cm-editor .cmt-strikethrough {} */

/* .cm-editor .cmt-invalid,
.cm-editor .cmt-deleted {} */