@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85.8%;
    --input: 0 0% 85.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 19.9%;
    --input: 0 0% 19.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar {
  scrollbar-width: thin;
}

.sonner-spinner {
  @apply !left-0 !top-0 !animate-spin;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%230a0a0a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader"%3E%3Cpath d="M12 2v4"/%3E%3Cpath d="m16.2 7.8 2.9-2.9"/%3E%3Cpath d="M18 12h4"/%3E%3Cpath d="m16.2 16.2 2.9 2.9"/%3E%3Cpath d="M12 18v4"/%3E%3Cpath d="m4.9 19.1 2.9-2.9"/%3E%3Cpath d="M2 12h4"/%3E%3Cpath d="m4.9 4.9 2.9 2.9"/%3E%3C/svg%3E');
}

.dark .sonner-spinner {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader"%3E%3Cpath d="M12 2v4"/%3E%3Cpath d="m16.2 7.8 2.9-2.9"/%3E%3Cpath d="M18 12h4"/%3E%3Cpath d="m16.2 16.2 2.9 2.9"/%3E%3Cpath d="M12 18v4"/%3E%3Cpath d="m4.9 19.1 2.9-2.9"/%3E%3Cpath d="M2 12h4"/%3E%3Cpath d="m4.9 4.9 2.9 2.9"/%3E%3C/svg%3E');
}

.sonner-spinner > div {
  display: none;
}