@tailwind base;
@tailwind components;
@tailwind utilities;

/* Misc */

body {
  @apply bg-white text-neutral-950 font-normal;
}

#app {
  @apply min-h-screen w-full;
}

.custom-shadow {
  box-shadow: 0 0 12px 0 rgba(10, 10, 10, 0.2);
}

/* Chip */

.chip {
  @apply inline-flex items-center gap-x-2 rounded-full py-1 px-2.5 text-xs capitalize;
}

.chip-false {
  @apply chip bg-neutral-100;
}

.chip-dark,
.chip-true {
  @apply chip bg-neutral-950 text-white;
}

.chip-sm {
  @apply inline-flex items-center gap-x-2 rounded-full py-1 px-2.5 text-xs capitalize;
}

/* Buttons */

.btn,
.btn-primary,
.btn-secondary,
.btn-danger,
.btn-sm,
.btn-primary-sm,
.btn-secondary-sm,
.btn-danger-sm,
.btn-icon,
.btn-icon-primary,
.btn-icon-secondary,
.btn-icon-danger,
.btn-icon-sm,
.btn-icon-primary-sm,
.btn-icon-secondary-sm,
.btn-icon-danger-sm {
  @apply inline-flex cursor-pointer border font-medium rounded-xl transition-colors items-center gap-x-2 flex-initial disabled:cursor-not-allowed disabled:opacity-60;
}

.btn,
.btn-primary,
.btn-secondary,
.btn-danger {
  @apply py-1.5 px-3 lg:py-2 lg:px-4;
}

.btn-icon,
.btn-icon-primary,
.btn-icon-secondary,
.btn-icon-danger {
  @apply p-2.5 lg:p-3;
}

.btn-sm,
.btn-primary-sm,
.btn-secondary-sm,
.btn-danger-sm {
  @apply py-1 px-2 text-sm rounded-lg;
}

.btn-icon-sm,
.btn-icon-primary-sm,
.btn-icon-secondary-sm,
.btn-icon-danger-sm {
  @apply p-1.5 text-sm rounded-lg;
}

.btn-primary,
.btn-primary-sm,
.btn-icon-primary,
.btn-icon-primary-sm {
  @apply border-neutral-950 bg-neutral-950 text-white;
}

a.btn-primary,
a.btn-primary-sm,
a.btn-icon-primary,
a.btn-icon-primary-sm {
  @apply hover:bg-neutral-700 hover:border-neutral-700;
}

button.btn-primary,
button.btn-primary-sm,
button.btn-icon-primary,
button.btn-icon-primary-sm {
  @apply enabled:hover:bg-neutral-700 enabled:hover:border-neutral-700;
}

.btn-secondary,
.btn-secondary-sm,
.btn-icon-secondary,
.btn-icon-secondary-sm {
  @apply border-transparent bg-transparent;
}

a.btn-secondary,
a.btn-secondary-sm,
a.btn-icon-secondary,
a.btn-icon-secondary-sm {
  @apply hover:bg-neutral-100 hover:border-neutral-100;
}

button.btn-secondary,
button.btn-secondary-sm,
button.btn-icon-secondary,
button.btn-icon-secondary-sm {
  @apply enabled:hover:bg-neutral-100 enabled:hover:border-neutral-100;
}

.btn,
.btn-sm,
.btn-icon,
.btn-icon-sm {
  @apply bg-white border-neutral-200;
}

a.btn,
a.btn-sm,
a.btn-icon,
a.btn-icon-sm {
  @apply hover:bg-neutral-100;
}

button.btn,
button.btn-sm,
button.btn-icon,
button.btn-icon-sm {
  @apply enabled:hover:bg-neutral-100;
}

.btn-danger,
.btn-danger-sm,
.btn-icon-danger,
.btn-icon-danger-sm {
  @apply border-red-500 bg-red-500 text-white;
}

a.btn-danger,
a.btn-danger-sm,
a.btn-icon-danger,
a.btn-icon-danger-sm {
  @apply hover:bg-red-600 hover:border-red-600;
}

button.btn-danger,
button.btn-danger-sm,
button.btn-icon-danger,
button.btn-icon-danger-sm {
  @apply enabled:hover:bg-red-600 enabled:hover:border-red-600;
}

/* Sidebar */

.sidebar-trigger {
  @apply fixed bottom-4 left-4 z-50 p-3 text-white bg-neutral-950 rounded-full cursor-pointer hover:bg-neutral-700 transition-all custom-shadow lg:hidden;
}

.sidebar-overlay {
  @apply invisible opacity-0 z-50 lg:z-10 fixed inset-0 bg-neutral-950 bg-opacity-20 overflow-y-auto h-screen w-screen z-100 transition-all;
}

.sidebar-active .sidebar-overlay {
  @apply visible opacity-100 lg:opacity-0 lg:invisible;
}

.sidebar-content {
  @apply fixed inset-y-0 z-10 w-72 flex flex-col invisible opacity-0 z-150 custom-shadow -translate-x-full lg:visible lg:opacity-100 lg:z-auto lg:translate-x-0 lg:shadow-none	transition-all;
}

.sidebar-active .sidebar-content {
  @apply visible opacity-100 translate-x-0;
}
 
/* Navigation (sidebar) */

.link {
  @apply font-medium text-neutral-950 hover:bg-neutral-100 flex items-center gap-x-2 rounded-xl py-2 px-3 transition-colors disabled:opacity-60 disabled:cursor-not-allowed disabled:hover:bg-transparent;
}

.link-text {
  @apply font-medium text-neutral-950 flex items-center gap-x-2 rounded-xl py-2 px-3 transition-colors;
}

.link-danger {
  @apply font-medium text-red-700 hover:bg-red-100 flex items-center gap-x-2 rounded-xl py-2 px-3 transition-colors disabled:opacity-60 disabled:cursor-not-allowed;
}

.sidebar .navigation .link.router-link-active {
  @apply bg-neutral-100;
}

/* Forms */

.label {
  @apply inline-block font-medium mb-2;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
input[type='tel'],
select,
select[multiple],
textarea {
  @apply bg-neutral-150 border-neutral-150 focus:border-neutral-950 focus:ring-neutral-950 py-1.5 px-2.5 lg:py-2 lg:px-3 rounded-xl transition-all;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 15L12 20L17 15M7 9L12 4L17 9' stroke='%230a0a0a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  @apply pr-10 cursor-pointer;
}

input[type='radio'] {
   /* TBD} */
}

input[type='checkbox'] {
  @apply text-neutral-950 border-0 bg-neutral-150 focus:outline-neutral-950 rounded-md cursor-pointer;
}

.description {
  @apply text-sm mb-2 -mt-1 text-neutral-400;
}

fieldset {
  @apply w-full bg-white border border-neutral-200 p-3 rounded-2xl mb-2;
}

.field-list-item > fieldset {
  @apply border-0 p-0 mb-0;
}

.field {
  @apply mb-8;
}

fieldset .field:last-child {
  @apply mb-0;
}

/* Field list */

.field-list {
  @apply mb-2;
}

.field-list-item {
  @apply bg-white border border-neutral-200 p-1.5 flex gap-1 items-center rounded-xl mb-2;
}

.field-list-item:last-child {
  @apply mb-0;
}

.field-list-item.sortable-ghost {
  @apply opacity-30;
}

/* Spinner */

.spinner {
  @apply border-2 border-b-transparent border-l-transparent animate-spin rounded-full;
}

.spinner-black,
.spinner-black-sm {
  @apply spinner border-t-neutral-950 border-r-neutral-950;
}

.spinner-black {
  @apply w-6 h-6;
}

.spinner-black-sm {
  @apply w-4 h-4;
}

.spinner-white,
.spinner-white-sm {
  @apply spinner border-t-white border-r-white;
}

.spinner-white {
  @apply w-6 h-6;
}

.spinner-white-sm {
  @apply w-4 h-4;
}

/* Waiting */

.waiting {
  @apply fixed top-0 bottom-0 left-0 right-0 bg-neutral-950/10 z-200 m-0 p-0 cursor-wait;
}

/* Processing */

.processing {
  @apply opacity-50 !overflow-hidden;
}

.processing:after {
  @apply content-[''] absolute top-0 bottom-0 left-0 right-0 z-100 cursor-wait;
}

/* Loading screen */

.loading {
  @apply absolute inset-0 bg-white flex justify-center items-center z-50;
}

.loading:after {
  @apply block content-[''] spinner-black;
}

/* Error screen */

.error {
  @apply absolute inset-0 bg-white flex justify-center items-center;
}

/* Dropdown */

.dropdown-content {
  @apply max-w-full	custom-shadow absolute right-0 z-10 mt-1 origin-top-right rounded-2xl bg-white focus:outline-none;
}

/* Tooltip */

.tooltip {
  @apply whitespace-nowrap invisible opacity-0 group-hover:visible group-hover:opacity-90 absolute z-100 px-3 py-2 text-xs font-medium text-white bg-neutral-950 rounded-xl transition-all duration-100 max-w-xs;
}

.tooltip-bottom,
.tooltip-top {
  @apply -translate-x-1/2 left-1/2;
}

.tooltip-bottom {
  @apply tooltip top-full group-hover:mt-0 mt-1;
}

.tooltip-top,
.tooltip-top-right {
  @apply tooltip bottom-full group-hover:mb-0 mb-1;
}

.tooltip-top-right {
  @apply right-0;
}

/* Toast notifications */

.notifications {
  @apply fixed right-0 bottom-0 p-8 max-w-[500px] z-100 flex flex-col gap-y-2 items-end;
}

.notification {
  @apply flex items-start gap-x-2 p-3 rounded-xl bg-white custom-shadow;
}

.notification-message {
  @apply grow text-sm font-medium;
}

.notification-icon {
  @apply p-1 rounded-full text-white;
}

.notification-icon svg {
  @apply shrink-0 h-3 w-3;
}

.notification-error .notification-icon {
  @apply bg-red-500;
}

.notification-success .notification-icon {
  @apply bg-green-500;
}

.notification-warning .notification-icon {
  @apply bg-orange-500;
}

.notification-info .notification-icon {
  @apply bg-sky-500;
}

/* File browser */

.fb-files {
  @apply rounded-2xl;
}

.fb-files.fb-files-dragging {
  @apply bg-neutral-100;
}

.fb-files .fb-files-item-content {
  @apply ring ring-2 ring-transparent ring-inset transition-all;
}

.fb-files .fb-files-item-content.selected {
  @apply ring-neutral-950;
}

.fb-files .fb-files-item-image {
  @apply relative bg-neutral-100 overflow-hidden;
}

.fb-files .fb-files-item-image img {
  @apply object-cover absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

/* File browser: list layout */

.fb-files.fb-files-list {
  @apply flex flex-col;
}

.fb-files.fb-files-list .fb-files-item-content {
  @apply flex gap-x-2 items-center rounded-xl py-2 px-3 transition-colors hover:bg-neutral-100 relative w-full;
}

.fb-files.fb-files-list .fb-files-item-icon {
  @apply w-4 h-4 stroke-2 shrink-0;
}

.fb-files.fb-files-list .fb-files-item-image {
  @apply w-4 h-4;
}

.fb-files.fb-files-list .fb-files-item-name {
  @apply font-medium truncate;
}

.fb-files.fb-files-list .fb-files-item-meta {
  @apply text-neutral-400 text-sm ml-auto flex gap-x-2 items-center whitespace-nowrap;
}

.fb-files.fb-files-list .fb-files-item-options {
  @apply flex items-center;
}

.fb-files.fb-files-list .fb-files-item-options > div {
  @apply block;
}

.fb-files.fb-files-list .fb-files-item-options .fb-files-item-options-btn {
  @apply block py-1 px-2 -m-1;
}

/* File browser: grid layout */

.fb-files.fb-files-grid {
   @apply grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6;
}

.fb-files.fb-files-grid .fb-files-item-content {
  @apply w-full hover:bg-neutral-100 rounded-2xl transition-colors p-4 relative ;
}

.fb-files.fb-files-grid .fb-files-item-name {
  @apply truncate font-medium;
}

.fb-files.fb-files-grid .fb-files-item-dir .fb-files-item-name {
  @apply pb-4;
}

.fb-files.fb-files-grid .fb-files-item-checkbox {
  @apply absolute top-6 left-6 z-10 opacity-0;
}

.fb-files.fb-files-grid .fb-files-item-checkbox:checked {
  @apply opacity-100;
}

.fb-files.fb-files-grid .fb-files-item-image,
.fb-files.fb-files-grid .fb-files-item-icon {
  @apply mb-2;
}

.fb-files.fb-files-grid .fb-files-item-image {
  @apply w-full pb-[66.66%] rounded-xl ring-1 ring-neutral-200;
}

.fb-files.fb-files-grid .fb-files-item-icon  {
  @apply relative w-full pb-[66.66%] overflow-hidden;
}

.fb-files.fb-files-grid .fb-files-item-icon svg {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-12 stroke-[1] sm:w-14 sm:stroke-[1] lg:w-16 lg:stroke-[0.75] xl:w-20 xl:stroke-[0.6];
}

.fb-files.fb-files-grid .fb-files-item-meta {
  @apply text-xs text-neutral-400 text-sm;
}

.fb-files.fb-files-grid .fb-files-item-options {
  @apply absolute bottom-1 right-px z-10 transition-all opacity-0 transition-all;
}

.fb-files.fb-files-grid .fb-files-item:hover .fb-files-item-options,
.fb-files.fb-files-grid .fb-files-item:active .fb-files-item-options {
  @apply opacity-100;
}

.fb-files.fb-files-grid .fb-files-item-options-btn {
  @apply p-3;
}

/* Modal */

.modal-overlay {
  @apply invisible opacity-0 fixed inset-0 bg-neutral-950 bg-opacity-20 overflow-y-auto h-screen w-screen z-50 transition-all;
}

.modal-wrapper {
  @apply flex min-h-full items-end justify-center p-4 sm:items-center sm:p-0;
}

.modal-box {
  @apply w-96 top-1/2 mx-auto custom-shadow rounded-2xl bg-white w-96 translate-y-4 sm:translate-y-0 sm:scale-95 transition-all;
}

.modal-header {
  @apply flex justify-between items-center gap-x-2 p-4 border-b border-neutral-200;
}

.modal-title {
  @apply font-medium truncate;
}

.modal-close {
  @apply btn-icon-secondary -my-2.5 -mr-2 lg:-my-3 lg:-mr-2.5;
}

.modal-body {
  @apply p-4;
}

.modal-active.modal-overlay {
  @apply visible opacity-100;
}

.modal-active .modal-box {
  @apply translate-y-0 sm:scale-100;
}

.modal-body .error {
  @apply !relative;
}

/* Repo picker modal */

.modal-repo-picker .modal-box {
  @apply !w-[500px];
}

/* File browser modal */

.modal-file-browser .modal-box {
  @apply w-[calc(100vw-14rem)];
}

.modal-body .fb-files {
  @apply overflow-auto max-h-[calc(100vh-24rem)];
}

/* TipTap */

.tiptap-controls {
  @apply sticky top-[59px] z-20 p-3 opacity-100 hover:z-50;
}

.tiptap-controls.tiptap-controls-focused {
  /* @apply opacity-100; */
}

.tiptap-controls-wrapper {
  @apply custom-shadow bg-neutral-950 rounded-lg inline-flex;
}

.tiptap-control {
  @apply btn-icon-primary-sm !rounded-none;
}

.tiptap-controls-wrapper > .tiptap-control:first-child {
  @apply !rounded-l-lg;
}

.tiptap-controls-wrapper > :last-child .tiptap-control {
  @apply !rounded-r-lg;

}

.tiptap-control.tiptap-control-active {
  @apply bg-neutral-700 border-neutral-700;
}

.tiptap-controls .dropdown-active {
  @apply rounded-r-xl;
}

.tiptap-controls .dropdown-active > .tiptap-control {
  @apply bg-neutral-700 border-neutral-700;
}

.tiptap-control svg {
  @apply w-4 h-4 shrink-0;
}

.tiptap-controls + div > .ProseMirror {
  @apply -mt-[58px] pt-[58px];
}

/* ProseMirror */

.ProseMirror {
  @apply border bg-neutral-150 border-neutral-150 py-2 px-3 rounded-xl transition-all min-h-[378px];
  
}

.tiptap-controls:active + div > .ProseMirror,
.ProseMirror-focused {
  @apply outline-none ring ring-1 border-neutral-150 border-neutral-950 ring-neutral-950;
}

.ProseMirror-focused .ProseMirror-selectednode {
  @apply outline outline-2 outline-neutral-950;
}

/* I don't like tailwindcss/typography */

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  @apply font-semibold;
}

.tiptap h1 {
  @apply text-2xl;
}

.tiptap h2 {
  @apply text-xl;
}

.tiptap h3 {
  @apply text-lg;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6,
.tiptap p,
.tiptap blockquote,
.tiptap ul,
.tiptap ol {
  @apply my-4 first:mt-0;
}

.tiptap code {
  @apply text-sm bg-neutral-300 rounded-lg;
}

.tiptap p code {
  @apply p-1;
}

.tiptap pre code {
  @apply p-2 block;
}

.tiptap ul,
.tiptap ol {
  @apply pl-5 mb-4;
}

.tiptap ul li,
.tiptap ol li {
  @apply mb-2 last:mb-0;
}

.tiptap ul li > p,
.tiptap ol li > p {
  @apply m-0;
}

.tiptap ul li ul,
.tiptap ul li ol,
.tiptap ol li ul,
.tiptap ol li ol {
  @apply my-2;
}

.tiptap ul {
  @apply list-disc;
}

.tiptap ol {
  @apply list-decimal;
}

.tiptap a {
  @apply underline;
}

.tiptap p > img + .ProseMirror-separator,
.tiptap p > img + .ProseMirror-separator + .ProseMirror-trailingBreak {
  @apply !hidden;
}

.tiptap blockquote {
  @apply pl-4 ml-1 border-l-2 border-l-neutral-300;
}

.tiptap img,
.tiptap svg,
.tiptap video,
.tiptap canvas,
.tiptap audio,
.tiptap iframe,
.tiptap embed,
.tiptap object {
  @apply inline-block;
}

/* Table */

.table {
  @apply w-full border-separate border-spacing-0;
}

.table thead {
  @apply bg-white sticky top-0 w-full z-20;
}

.table th,
.table td {
  @apply py-1.5 px-2 first:pl-0 last:pr-0 border-b border-neutral-200 align-middle hidden lg:table-cell;
}

.table th {
  @apply font-medium text-xs text-neutral-400 text-left;
}

.table td {
  @apply whitespace-nowrap;
}

.table tr {
  @apply hover:bg-neutral-100 transition-colors;
}

.table th.primary-field,
.table td.primary-field,
.table td.folder {
  @apply max-w-[1px] w-full truncate;
}

.table th.primary-field,
.table td.primary-field,
.table th.actions,
.table td.actions,
.table td.folder {
  @apply table-cell lg:table-cell;
}

.table td.primary-field {
  @apply font-medium;
}

/* Image preview */

.image-gallery {
  @apply grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6;
}

.image-preview {
  @apply relative w-full;
}

.image-wrapper {
  @apply bg-neutral-100 w-full pb-[100%] rounded-xl ring-1 ring-neutral-200 overflow-hidden relative;
}

.image-wrapper img {
  @apply object-cover absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.image-wrapper .image-loading {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.image-controls {
  @apply absolute bottom-0 right-0 z-10 flex p-2;
}